body {
    margin: 0;
    font-family: Arial;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 30px;
}

.about {
    padding: 30px;
    text-align: center;
}

.services {
    background-color: #f2f2f2;
    padding: 30px;
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #101010;
    cursor: pointer;
}
